$primary: #70a143;
$orange: #f99b28;
$dark-orange: #f26a2c;
$soft-orange: #fad193;
$blue: #61dafb;
$white: #fff;

$black: #000;
$black01: rgba(0, 0, 0, 0.1);
$black03: rgba(0, 0, 0, 0.3);

$new-background: #f8f9fc;
$button-primary: #6777ef;
$button-primary-hover: #394eea;
$color-logo: #4c5fda;
$shadow: rgba(58, 59, 69, 0.15);
$heading: #757575;
$hover: #eee;
