@import "../../sass/colors.scss";

.button {
  min-width: calc(14rem - 7.2rem);
  height: 35px;
  padding: 0 1.2rem;
  text-align: center;
  background-color: $primary;
  color: $white;
  font-weight: bold;
  white-space: nowrap;
  border: 0;
  font-family: Roboto;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5.4rem;

  &[disabled],
  &.alt {
    background-color: $heading;
  }
  &.outlined {
    background-color: $white;
    color: $primary;
    border: solid 1px $primary;
  }
}
