@import "../sass/colors.scss";

.container-chart {
  margin-top: 40px;

  &.direction-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.line-vertical-header {
  border-right: 1px solid $black01;
  height: 120px;
  margin-right: 30px;
  margin-left: 30px;
}
.header-box {
  position: relative;
  flex-grow: 1;
}
.header-box::after {
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 120px;
  width: 2px;
  border-right: 1px solid $black01;
}

div.header-box:last-child::after {
  border-right: none !important;
}

.fm-charts-color-1 {
  fill: rgb(3, 91, 169) !important;
}

.fm-charts-color-2 {
  fill: rgb(231, 99, 1) !important;
}

.fm-charts-color-3 {
  fill: rgb(30, 69, 151) !important;
}

.fm-charts-color-4 {
  fill: rgb(191, 4, 32) !important;
}

.fm-charts-color-5 {
  fill: rgb(0, 112, 43) !important;
}

.fm-charts-color-6 {
  fill: rgb(6, 116, 225) !important;
}

.fm-charts-color-8 {
  fill: rgb(248, 50, 49) !important;
}

.fm-charts-color-7 {
  fill: rgb(11, 57, 108) !important;
}
